body {
  position: relative;
  color: #f3f3f3;
  background-color: #282828;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.controls {
  margin: 15px;
}

.parent-div {
  width: 48vw;
}

#my-canvas {
  width: 100%;
  border-top: #f3f4ed solid 1px;
  margin: 0 auto;
}
