body {
  position: relative;
  color: #f3f3f3;
  background-color: #282828;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.controls {
  margin: 15px;
}

#my-canvas {
  /* -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
  filter: FlipV;
  -ms-filter: "FlipV"; */
  border-top: #f3f4ed solid 1px;
  margin: 0 auto;
}
