body {
  position: relative;
  color: #006cff;
  background-color: #242121;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.controls {
  margin: 15px;
}

#my-canvas {
  outline: #006cff 3px solid;
  margin: 0 auto;
}
